.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.container img{
    width: 400px;
    display: block;
    margin: auto;
    transition: transform 2s;
}

img:hover{
    
    /* transform: skewX(-30deg); */
    /* transform: skewY(30deg); */
    transform: skew(20deg, 40deg);

}
